h3 {
    color: #0076bd
}

/*Header*/
.header {
    background-image: url(./img/plantillaCabecera.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding: 2.5rem;
}

.footer {

    background-image: url(./img/plantillaPie.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;

    padding: 2rem;
}

@media (max-width: 375px) {
    .header {
        background-size: auto;

        background-position: center center;
        text-align: right;
    }

    h3 {
        font-size: 1.5em;
      
    }
     .footer {
        background-size: auto;
        text-align: right;
        background-position: center center;
    }
}

@media (max-width: 428px) { 
    .header {
        background-size: auto;
        background-position: center center;
        text-align: right;
    }

    h3 {
        font-size: 1.5em;
      
    }

  }

.text {
    color: #0076bd;
}

.button-login {
    margin-bottom: 8rem;
}